<div class="header pb-6 d-flex align-items-center edit-form" style="min-height: 500px; ">
    <!-- Page content -->
    <div class="col-xl-12 order-xl-1">
        <div class="card">
            <div class="card-header">
                <div class="row align-items-center">
                    <div class="col-8">
                        <h3 class="mb-0">Chỉnh sửa sản phẩm </h3>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <form method="POST" action="/seller/products/create" id="add-product"  enctype="multipart/form-data">
                    <h6 class="heading-small text-muted mb-4">Thông tin sản phẩm</h6>
                    <div class="pl-lg-4">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="name">Tên sản phẩm</label>
                                    <input type="text" id="name" name="name" class="form-control"
                                        placeholder="Tên sản phẩm" value="" required="">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="category" class="category">Chọn loại sản phẩm</label>
                                    <input type="text" id="category" name="category" class="form-control"
                                        placeholder="Loại sản phẩm" value="" required="">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="product_price">Giá</label>
                                    <input type="text" id="price" name="price" class="form-control"
                                        placeholder="Giá sản phẩm" value="" required="">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="brand" class="form-control-label">Chọn hãng sản phẩm</label>
                                   <input type="text" id="brand" name="brand" class="form-control"
                                        placeholder="Hãng sản xuất" value="" required="">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="model_year">Năm sản xuất</label>
                                    <input type="text" id="model_year" name="model_year" class="form-control"
                                        placeholder="Năm sản xuất" value="" required="">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="product_quantity">Số lượng</label>
                                    <input type="text" id="quantity" name="quantity"
                                        class="form-control" placeholder="Số lượng sản phẩm" value="" required="">
                                </div>
                            </div>
                        </div>
                        <hr class="my-4">
                        <!-- Description -->
                        <h6 class="heading-small text-muted mb-4">Hình ảnh</h6>
                        <div class="pl-lg-4">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <div class="file-field">
                                            <div class="z-depth-1-half mb-4">
                                                <img src="/sellerRole/img/alt.png"
                                                    class="img-fluid" alt="example placeholder" id="img1">
                                            </div>
                                            <div class="d-flex justify-content-center">
                                                <div class="btn btn-mdb-color btn-rounded float-left">
                                                    <label class="form-control-label" for="product_img1">Hình ảnh 1
                                                        </label>
                                                   <input type="file" id="product_img1"  name="product_img1" onChange="preview(this,1)" required accept="image/png, image/gif, image/jpeg"/>
                                                 </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>  
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <div class="file-field">
                                            <div class="z-depth-1-half mb-4">
                                                <img src="/sellerRole/img/alt.png"
                                                    class="img-fluid" alt="example placeholder" id="img2">
                                            </div>
                                            <div class="d-flex justify-content-center">
                                                <div class="btn btn-mdb-color btn-rounded float-left">
                                                    <label class="form-control-label" for="product_img2">Hình ảnh 2
                                                        </label>
                                                   <input type="file" id="product_img2"  name="product_img2" onChange="preview(this,2)" required accept="image/png, image/gif, image/jpeg"/>
                                                     </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>  
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <div class="file-field">
                                            <div class="z-depth-1-half mb-4">
                                                <img src="/sellerRole/img/alt.png"
                                                    class="img-fluid" alt="example placeholder" id="img3">
                                            </div>
                                            <div class="d-flex justify-content-center">
                                                <div class="btn btn-mdb-color btn-rounded float-left">
                                                    <label class="form-control-label" for="product_img3">Hình ảnh 3
                                                        </label>
                                                   <input type="file" id="product_img3"  name="product_img3" onChange="preview(this,3)" required accept="image/png, image/gif, image/jpeg"/>
                                                      </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>  
                            </div>
                        </div>
                        <hr class="my-4">
                        <!-- Description -->
                        <h6 class="heading-small text-muted mb-4">Mô tả</h6>
                        <div class="pl-lg-4">
                            <div class="form-group">
                                <label class="form-control-label">Mô tả sản phẩm</label>
                                <input type="text" id="descriptions" name="descriptions" class="form-control"
                                        placeholder="Vài mô tả về sản phẩm..." value="{{descriptions}}">
                            </div>
                             <span "text-right" style = "float: right;">
                                <button class="btn btn-sm btn-primary" type="submit" value="submit"
                                    style="font-size: 18px;" form="add-product">Xác nhận</button>
                            </span>
                             <span "text-right" style = "float:right; margin-right: 10px;">
                                <a class="btn btn-sm btn-warning" style="font-size: 18px;" href ="/seller/products">Quay lại</a>
                            </span>
                        </div>
                    </div>
            </div>
        </div>
        </form>
       
    </div>
</div>
</div>
</div>