<div class="header bg-primary pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">

                        <form class="navbar-search navbar-search-light form-inline mr-sm-3" id="navbar-search-main">
                            <div class="form-group mb-0">
                                <div class="input-group input-group-alternative input-group-merge">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-search"></i></span>
                                    </div>
                                    <input class="form-control" placeholder="Tìm kiếm" type="text">
                                </div>
                            </div>
                            <button type="button" class="close" data-action="search-close"
                                data-target="#navbar-search-main" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </form>
                    </nav>

                </div>

                <div class="col-lg-6 col-5 text-right">
                    <a href="/seller/products/add" class="btn btn-md btn-neutral">Thêm</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Page content -->
<div class="container-fluid mt--6">
    <div class="row justify-content-center">
        <div class=" col ">
            <div class="card">
                <div class="card-header bg-transparent">
                    <h3 class="mb-0">Sản phẩm</h3>
                </div>
                <div class="card-body">
                   <div class="container">
                        <div class="row icon-examples product-tittle">
                        <div class="col-1">
                        </div>
                        <div class="col-4">
                            <h5> Tên sản phẩm</h5>
                        </div>
                        <div class="col-2">
                            <h5> Hãng</h5>
                        </div>
                        <div class="col-2">
                            <h5>Loại</h5>
                        </div>
                        <div class="col-2">
                            <h5>Giá</h5>
                        </div>
                        <div class="col-1">
                            
                        </div>
                    </div>
                   </div>
                    <div class="row icon-examples product-">
                        <div class="col-lg-12">
                            <button type="button" class="btn-icon-clipboard" data-clipboard-text="active-40"
                                title="Chỉnh sửa sản phẩm" onclick="window.location.href='/seller/products/edit'">
                                <div class ="row">
                                    <div class="col-1">
                                        <i class="ni ni-active-40"></i>
                                    </div>
                                    <div class="col-4">
                                        <h5> Tên sản phẩm</h5>
                                    </div>
                                    <div class="col-2">
                                        <h5> Hãng</h5>
                                    </div>
                                    <div class="col-2">
                                        <h5>Loại</h5>
                                    </div>
                                    <div class="col-2">
                                        <h5>Giá</h5>
                                    </div>
                                    <div class="col-1">
                                        <a href="#" class ="delete-btn"><i class="fas fa-trash"></i></a>
                                    </div>
                                </div>
                            </button>
                        </div>
                       <div class="col-lg-12">
                            <button type="button" class="btn-icon-clipboard" data-clipboard-text="active-40"
                                title="Chỉnh sửa sản phẩm" onclick="window.location.href='/seller/products/edit'">
                                <div class ="row">
                                    <div class="col-1">
                                        <i class="ni ni-active-40"></i>
                                    </div>
                                    <div class="col-4">
                                        <h5> Tên sản phẩm</h5>
                                    </div>
                                    <div class="col-2">
                                        <h5> Hãng</h5>
                                    </div>
                                    <div class="col-2">
                                        <h5>Loại</h5>
                                    </div>
                                    <div class="col-2">
                                        <h5>Giá</h5>
                                    </div>
                                    <div class="col-1">
                                        <a href="#" class ="delete-btn"><i class="fas fa-trash"></i></a>
                                    </div>
                                </div>
                            </button>
                        </div>
                        <div class="col-lg-12">
                            <button type="button" class="btn-icon-clipboard" data-clipboard-text="active-40"
                                title="Chỉnh sửa sản phẩm" onclick="window.location.href='/seller/products/edit'">
                                <div class ="row">
                                    <div class="col-1">
                                        <i class="ni ni-active-40"></i>
                                    </div>
                                    <div class="col-4">
                                        <h5> Tên sản phẩm</h5>
                                    </div>
                                    <div class="col-2">
                                        <h5> Hãng</h5>
                                    </div>
                                    <div class="col-2">
                                        <h5>Loại</h5>
                                    </div>
                                    <div class="col-2">
                                        <h5>Giá</h5>
                                    </div>
                                    <div class="col-1">
                                        <a href="#" class ="delete-btn"><i class="fas fa-trash"></i></a>
                                    </div>
                                </div>
                            </button>
                        </div>
                        <div class="col-lg-12">
                            <button type="button" class="btn-icon-clipboard" data-clipboard-text="active-40"
                                title="Chỉnh sửa sản phẩm" onclick="window.location.href='/seller/products/edit'">
                                <div class ="row">
                                    <div class="col-1">
                                        <i class="ni ni-active-40"></i>
                                    </div>
                                    <div class="col-4">
                                        <h5> Tên sản phẩm</h5>
                                    </div>
                                    <div class="col-2">
                                        <h5> Hãng</h5>
                                    </div>
                                    <div class="col-2">
                                        <h5>Loại</h5>
                                    </div>
                                    <div class="col-2">
                                        <h5>Giá</h5>
                                    </div>
                                    <div class="col-1">
                                        <a href="#" class ="delete-btn"><i class="fas fa-trash"></i></a>
                                    </div>
                                </div>
                            </button>
                        </div>
                        <div class="col-lg-12">
                            <button type="button" class="btn-icon-clipboard" data-clipboard-text="active-40"
                                title="Chỉnh sửa sản phẩm" onclick="window.location.href='/seller/products/edit'">
                                <div class ="row">
                                    <div class="col-1">
                                        <i class="ni ni-active-40"></i>
                                    </div>
                                    <div class="col-4">
                                        <h5> Tên sản phẩm</h5>
                                    </div>
                                    <div class="col-2">
                                        <h5> Hãng</h5>
                                    </div>
                                    <div class="col-2">
                                        <h5>Loại</h5>
                                    </div>
                                    <div class="col-2">
                                        <h5>Giá</h5>
                                    </div>
                                    <div class="col-1">
                                        <a href="#" class ="delete-btn"><i class="fas fa-trash"></i></a>
                                    </div>
                                </div>
                            </button>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>