    <!DOCTYPE html>
    <html lang="vi">

    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Ogani Template">
        <meta name="keywords" content="Ogani, unica, creative, html">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Avenger</title>

        <!-- Google Font -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=specimen:400,700" />
        <!-- Font Awsome v5 -->
        <link href=" https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet">
        <!-- Css Styles -->
        <link rel="stylesheet" href="/userRole/css/bootstrap.min.css" type="text/css">
        <link rel="stylesheet" href="/userRole/css/font-awesome.min.css" type="text/css">
        <link rel="stylesheet" href="/userRole/css/elegant-icons.css" type="text/css">
        <link rel="stylesheet" href="/userRole/css/nice-select.css" type="text/css">
        <link rel="stylesheet" href="/userRole/css/jquery-ui.min.css" type="text/css">
        <link rel="stylesheet" href="/userRole/css/owl.carousel.min.css" type="text/css">
        <link rel="stylesheet" href="/userRole/css/slicknav.min.css" type="text/css">
        <link rel="stylesheet" href="/userRole/css/style.css" type="text/css">
        <link rel="stylesheet" href="/userRole/css/login.css" type="text/css">
         <link rel="stylesheet" href="/userRole/css/profile.css" type="text/css">

         
    </head>

    <body>

        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        <!-- Page Preloder -->
        <div id="preloder">
            <div class="loader"></div>
        </div>

        <!-- Humberger Begin -->
        <div class="humberger__menu__overlay"></div>
        <div class="humberger__menu__wrapper">
            <div class="humberger__menu__logo">
                <a href="/"><img src="/userRole/img/logo.png"  class = "logo_img" alt="Logo"></a>
            </div>
            <div class="humberger__menu__cart">
                <ul>
                    
                    <li><a href="#"><i class="fa fa-shopping-bag"></i> <span>3</span></a></li>
                </ul>
                <div class="header__cart__price">Hóa đơn: <span>0.00 VNĐ</span></div>
            </div>
            <div class="humberger__menu__widget">
                <div class="header__top__right__language">
                    <img src="/userRole/img/language.png" alt="">
                    <div>Việt Nam</div>
                    <span class="arrow_carrot-down"></span>
                    <ul>
                        <li><a href="#">Việt Nam</a></li>
                        <li><a href="#">English</a></li>
                    </ul>
                </div>
                <div class="header__top__right__auth header__top__right__language">
                                    <a href="/login"><i class="fa fa-user"></i>Tài khoản
                                        <span class="arrow_carrot-down"></span>
                                        <ul>
                                            <li><a href="/login">Đăng nhập</a></li>
                                            <li><a href="/login">Đăng xuất</a></li>
                                            <li><a href="/profile">Cá nhân</a></li>
                                        </ul>
                                </div>
            </div>
            <nav class="humberger__menu__nav mobile-menu">
                <ul>
                    <li class="active"><a href="/">Trang chủ</a></li>
                    <li><a href="/products/list">Mua sắm</a></li>
                    <li><a href="#">Diễn đàn</a></li>
                    <li><a href="#">Liên hệ</a></li>
                </ul>
            </nav>
            <div id="mobile-menu-wrap"></div>
            <div class="header__top__right__social">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-pinterest-p"></i></a>
            </div>
            <div class="humberger__menu__contact">
                <ul>
                    <li><i class="fa fa-envelope"></i> hello@Avenger.com</li>
                    <li>Freeship cho đơn hàng từ 200k</li>
                </ul>
            </div>
        </div>
        <!-- Humberger End -->

        <!-- Header Section Begin -->
        <header class="header">
            <div class="header__top">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="header__top__left">
                                <ul>
                                    <li><i class="fa fa-envelope"></i> hello@Avenger.com</li>
                                    <li>Freeship cho đơn hàng từ 200k</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="header__top__right">
                                <div class="header__top__right__social">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-linkedin"></i></a>
                                    <a href="#"><i class="fa fa-pinterest-p"></i></a>
                                </div>
                                <div class="header__top__right__language">
                                    <img src="/userRole/img/language.png" alt="">
                                    <div>Việt Nam</div>
                                    <span class="arrow_carrot-down"></span>
                                    <ul>
                                        <li><a href="#">English</a></li>
                                        <li><a href="#">Việt Nam</a></li>
                                    </ul>
                                </div>
                                <div class="header__top__right__auth header__top__right__language">
                                    <a href="/login"><i class="fa fa-user"></i>Tài khoản
                                        <span class="arrow_carrot-down"></span>
                                        <ul>
                                            <li><a href="/login">Đăng nhập</a></li>
                                            <li><a href="/login">Đăng xuất</a></li>
                                            <li><a href="/profile">Cá nhân</a></li>
                                        </ul>
                                </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="header__logo">
                            <a href="/"><img src="/userRole/img/logo.png" class = "logo_img" alt="Logo image"></a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <nav class="header__menu">
                            <ul>
                                <li class="active"><a href="/">Trang chủ</a></li>
                                <li><a href="/products/list">Mua sắm</a></li>
                                <li><a href="#">Diễn đàn</a></li>
                                <li><a href="#">Liên hệ</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="col-lg-3">
                        <div class="header__cart">
                            <ul>
                                
                                <li><a href="/cart"><i class="fa fa-shopping-bag"></i> <span>3</span></a></li>
                            </ul>
                            <div class="header__cart__price">Hóa đơn: <span>0.00 VNĐ</span></div>
                        </div>
                    </div>
                </div>
                <div class="humberger__open">
                    <i class="fa fa-bars"></i>
                </div>
            </div>
        </header>
        <!-- Header Section End -->
        {{{body}}}
        <!-- Footer Section Begin -->
        <footer class="footer spad">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="footer__about">
                            <div class="footer__about__logo">
                                <a href="/"><img src="/userRole/img/logo.png" class = "logo_img" alt="Logo image"></a>
                            </div>
                            <ul>
                                <li><b>Địa chỉ: </b> Khu phố 6, Phường Linh Trung, Quận Thủ Đức, Hồ Chí Minh. </li>
                                <li><b>Điện thoại:</b> +65 11.188.888</li>
                                <li><b>Email:</b> hello@Avenger.com</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-3">
                        <div class="footer__widget">
                            <h6>Avenger</h6>
                            <ul>
                                <li><a href="#">Giới thiệu</a></li>
                                <li><a href="#">Tuyển dụng</a></li>
                                <li><a href="#">Điều khoản</a></li>
                                <li><a href="#">Chính sách bảo mật</a></li>
                            </ul>
                        </div>
                    </div>
                     <div class="col-lg-3 col-md-3 col-sm-3 ">
                        <div class="footer__widget">
                             <h6>Chăm sóc khách hàng</h6>
                            <ul>
                                <li><a href="#">Trung tâm hỗ trợ</a></li>
                                <li><a href="#">Avenger blog</a></li>
                                <li><a href="#">Hướng dẫn mua hàng</a></li>
                                <li><a href="#">Hướng dẫn bán hàng</a></li>
                                <li><a href="#">Thanh toán</a></li>
                                <li><a href="#">Chính sách đổi trả</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="footer__widget">
                            <h6>Nhận tin từ chúng tôi ngay bây giờ</h6>
                            <p>Nhận thông tin cập nhật qua E-mail về khuyến mại mới nhất của chúng tôi và các ưu đãi đặc biệt.</p>
                            <form action="#">
                                <input type="text" placeholder="Nhập email của bạn">
                                <button type="submit" class="site-btn">Xác nhận</button>
                            </form>
                            <h6>Theo dõi chúng tôi trên</h6>
                            <div class="footer__widget__social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-pinterest"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="footer__copyright">
                            <div class="footer__copyright__text">
                                <p>
                                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                    Copyright &copy;
                                    <script>document.write(new Date().getFullYear());</script> All rights reserved <i class="fa fa-heart" aria-hidden="true"></i> by Avenger
                                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                </p>
                            </div>
                            <div class="footer__copyright__payment"><img src="/userRole/img/payment-item.png" alt=""></div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Footer Section End -->

        <!-- Js Plugins -->



        <script src="/userRole/js/jquery-3.3.1.min.js"></script>
        <script src="/userRole/js/bootstrap.min.js"></script>
        <script src="/userRole/js/jquery.nice-select.min.js"></script>
        <script src="/userRole/js/jquery-ui.min.js"></script>
        <script src="/userRole/js/jquery.slicknav.js"></script>
        <script src="/userRole/js/mixitup.min.js"></script>
        <script src="/userRole/js/owl.carousel.min.js"></script>
        <script src="/userRole/js/main.js"></script>
        <script src="/userRole/js/login.js"></script>


    </body>

    </html>