.product-tittle h5
{
    font-weight: 700;
    font-size: 16px;
    color: blue;
}
.delete-btn i
{
    font-size: 20px;
}

.delete-btn i:hover
{
    font-size: 22px;
    color: red;
}

.delete-btn i:active
{
    font-size: 18px;
}

.btn-primary, .btn-warning
{
    padding: 10px 20px 10px 20px;
}

.product-if img
{
    height: 55px;
    width: 55px;
}

.edit-form input,.edit-form textarea
{
    color: rgb(177, 57, 21);
    font-weight: 700;
}
